@import "../../global/style/style-variables.scss";


.row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

div:focus{
  outline: 0px solid transparent;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#board {
  height: 400px;
  width: 350px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
#board .row {
  margin: 0px 2px !important;
}
#board-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}

.notification {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  color: white;
  background-color: #445f7a;
  border-radius: 5px;
  padding: 15px;
}

#game-notification {
  z-index: 1000;
}

:host {
  display: inline-block;
}
.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--color-tone-4);
}
.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.tile[data-state="tbd"] {
  background-color: var(--color-tone-7);
  border-color: var(--color-tone-3);
  color: white;
}
.tile[data-state="correct"] {
  --background-color: #52964c;
}
.tile[data-state="present"] {
  --background-color: #b39b30;
}
.tile[data-state="absent"] {
  --background-color: rgb(70, 70, 70);
}

.tile[data-animation="scale-in-center"] {
  -webkit-animation: flip 0.75s linear
    both;
  animation: flip 0.75s linear both;
}

@for $i from 2 through 6 {
  .tile:nth-child(#{$i}) {
    animation-delay: 0.4s * $i - 0.4s;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background-color: var(--color-tone-7);
    border-color: var(--color-tone-3);
    color: white;
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: var(--color-tone-7);
    border-color: var(--color-tone-3);
    color: white
  }
  51% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: var(--background-color);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(228, 228, 228)
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background-color: var(--background-color);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(228, 228, 228)
  }
}

.row[data-state="invalid"] {
  animation-name: Shake;
  animation-duration: 600ms;
}

@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}